h2 {
    text-align: center;
    text-decoration: double;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: translate(-20%);
}

td {
    text-align: right;
}
input.email {
    background-color: aqua;
    color:#3498db ;  /* blue */
}

div {
    border-radius: 5%;
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    text-align: center;
    background-color: lightgray;

}

button {
    background-color: rgb(69, 69, 71);
    color: rgb(255, 255, 255);
    transform: translate(0%, 460%);
    position: relative;
    font-size: 16px;
    padding: 12px 32px;
    font-weight: 200;
    border-radius: 8%;
    border: none;
}

table {
    border: none;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translate(50%,-50%);
}